/static/bower_components
/static/upload
/tests/screen_logs/
hrkb
tmp/
*.sw*
*.orig
*.log
logs/
*.*~
conf/dbconfig.yml
conf/app.conf
conf/mailconf.toml
*.*#
*.#*
*.test
hrkb_db_backups/
services/test_backup/
services/backup/test_backup/
/services/test_backup
hrkb.pid
